<html>
  <head><title>Tweet My Music</title></head>
  <body>
  <p>	
	<% if @current_track %>
		Currently loving:
		<%= @current_track["name"]%>
		by
		<%= @current_track["artist"]%>
		<p>
			<script src='//d1nu2rn22elx8m.cloudfront.net/buttons/0XmjRS/c5YWg-F3MpL.js'></script>
		</p>
	<% else %>
		Nothing currently playing. Is Last.fm scrobbling?
	<% end %>
  </p>

  </body>
</html>