<html>
  <head><title>Tweet My Music</title></head>
  <body>
  <p>	
	<% if @current_track %>
		Currently loving:
		<%= @current_track["name"]%>
		by
		<%= @current_track["artist"]%>
		<p>
			<form name="tweet" action="/tweet?last_fm_name=#{params[:last_fm_name]}" method="post">
				<input type="submit" value="Tweet This Song!" />
			</form>		
		</p>
	<% elsif !params[:last_fm_name]%>
		<form name="input" action="/" method="get">
			Enter your Last.fm Username: <input type="last_fm_name" name="last_fm_name" />
			<input type="submit" value="Submit" />
		</form>	
	<% else %>
		Nothing currently playing. Is Last.fm scrobbling?
	<% end %>
  </p>

  </body>
</html>