<html>
  <head><title>Tweet My Music</title></head>
  <body>
  <p>	
	<% if @current_track %>
		Currently loving:
		<%= @current_track["name"]%>
		by
		<%= @current_track["artist"]%>
		<p>
			<a href="<%= @client.statuses.update! :status=>"I'm currently loving #{@current_track["name"]} by #{@current_track["artist"]} (via http://bit.ly/dj8fAY)" %>">Tweet this!</a>
		</p>
	<% else %>
		Nothing currently playing. Is Last.fm scrobbling?
	<% end %>
  </p>

  </body>
</html>