<html>
  <head><title>Tweet My Music</title></head>
  <body>
  <p>	
	<% if @current_track %>
		Currently loving:
		<%= @current_track["name"]%>
		by
		<%= @current_track["artist"]%>
		<p>
			<%= @client.statuses.update :status=>'Digging this music' %>
		</p>
	<% else %>
		Nothing currently playing. Is Last.fm scrobbling?
	<% end %>
  </p>

  </body>
</html>